---
layout: default
---

<div class="home">

  <h2>Books</h2>
  <ul>
    {% for book in site.categories %}
      {% assign bookname = book[0] %}
      <li><a href="{{site.baseurl}}/books/{{bookname}}/">{{bookname}}</a></li>
    {% endfor %}
  </ul>

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <a href="{{ post.original-url }}" target="_blank">View on Wizards.com.</a>
      </li>
    {% endfor %}
  </ul>

  <ul>
    {% for post in site.posts %}
      <li>{{ post.date | date: "%Y-%m-%d (%A)" }}</li>
    {% endfor %}
  </ul>

</div>
