
.figure {
  max-width: 750px;
  margin: 0 auto 15px auto;

  p {
    margin: 0;
    text-align: center;
  }

  p + p {
    text-align: right;
    font-size: 75%;
    font-weight: bold;
  }
}

.figure-right {
  max-width: 50%;
  margin: 5px 0 5px 10px;
  float: right;

  p {
    margin: 0;
    text-align: right;
  }
}

.figure-left {
  max-width: 50%;
  margin: 5px 10px 5px 0;
  float: left;

  p {
    margin: 0;
    text-align: left;
  }
}
