---
layout: book_default
page_template: './styles/page-template.xpgt'
---

<div class="chapter">

    <h1 class="chapter-title">{{ page.title }}</h1>
<div>
    <p class="chapter-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
{%comment%}
    {% if page.authordd-bio %}
      <p>{{ page.author-bio | markdownify }}</p>
    {% endif %}
{%endcomment%}
</div>

    {% if page.prologue %}
      <div class="prologue">{{ page.prologue | markdownify }}</div>
      <hr/>
    {% endif %}

    {{ content }}

</div>
